services:
  ros2:
    platform: linux/arm64
    build:
      context: .
      dockerfile: Dockerfile
    image: local/ros2-m3:latest
    container_name: ros2_dev
    stdin_open: true
    tty: true
    ports:
      - "8765:8765"
      - "8000:8000"
    environment:
      - ROS_DOMAIN_ID=0
    volumes:
      - ./workspaces:/workspaces
    network_mode: bridge